# 01__preprocess_mpranalyze_quantify

in this notebook, i take the tidy-formatted counts and re-shape them to be in the input format needed to run MPRAnalyze. i also add some additional controls to serve as negative controls in the cell-type comparison model. counterintuitively, these negative controls are sampled from our positive controls: the null hypothesis is that their activities should not be too different between hESCs and mESCs, since it's the CMV promoter. there are 4 "tiles" of the CMV promoter, and i sample 13 barcodes from each tile 100 times, to create a total of 400 "negative" controls (...from our positive controls). [note: negative controls in the quantification model are just random sequences, expected to have no activity].

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import math
import matplotlib.pyplot as plt
import numpy as np
import re
import seaborn as sns
import sys

from scipy.stats import spearmanr

# import utils
sys.path.append("../../../utils")
from plotting_utils import *

%matplotlib inline
%config InlineBackend.figure_format = 'svg'
mpl.rcParams['figure.autolayout'] = False

In [2]:
sns.set(**PAPER_PRESET)
fontsize = PAPER_FONTSIZE

In [3]:
np.random.seed(2019)

## functions

In [4]:
def get_barc_id(row):
    str_split = row.tile_id.split(".")
    return str_split[-1]

In [5]:
def dna_status(row, barc_thresh, perc_barc_thresh, ctrl_elems):
    samp_cols = [x for x in row.index if "samp:" in x]
    vals = row[samp_cols]
    if row.element not in ctrl_elems:
        tot_barcs = len(vals)
        n_barcs_above_thresh = len([x for x in vals if x >= barc_thresh])
        perc_barcs_above_thresh = n_barcs_above_thresh / tot_barcs
        if perc_barcs_above_thresh >= perc_barc_thresh:
            return "good"
        else:
            return "bad"
    else:
        return "good"

In [6]:
def get_ctrl_status(row):
    if pd.isnull(row.tile_type):
        return False
    elif row.tile_type == "RANDOM":
        return True
    else:
        return False

## variables

In [7]:
counts_dir = "../../../data/02__mpra/01__counts"

In [8]:
HUES64_data_f = "%s/HUES64__all_counts.txt" % counts_dir

In [9]:
mESC_data_f = "%s/mESC__all_counts.txt" % counts_dir

In [10]:
index_f = "../../../data/01__design/02__index/TWIST_pool4_v8_final.txt.gz"

## 1. import data

In [11]:
HUES64_data = pd.read_table(HUES64_data_f, sep="\t")
HUES64_data.head()

       barcode  dna_1   rep_1   rep_2   rep_3
0  GTTCGACTATG    246   226.0   659.0    34.0
1  ATAACGTGTAA    120   146.0    27.0     4.0
2  TGAGCGGGTTC   1368  1395.0  1140.0  1076.0
3  AAACAACGTCC     32    45.0     1.0   122.0
4  CCTTACGTCAC   1184  3448.0  1324.0  1118.0

In [12]:
mESC_data = pd.read_table(mESC_data_f, sep="\t")
mESC_data.head()

       barcode  dna_1  rep_1  rep_2  rep_3
0  GTTCGACTATG    246   85.0   54.0    4.0
1  ATAACGTGTAA    120    NaN  180.0    1.0
2  TGAGCGGGTTC   1368  379.0  766.0  606.0
3  AAACAACGTCC     32    2.0   22.0   89.0
4  CCTTACGTCAC   1184  400.0  508.0  312.0

In [13]:
index = pd.read_table(index_f, sep="\t")
index_elem = index[["element", "tile_type"]].drop_duplicates()

## 2. merge data w/ index

In [14]:
HUES64_data.columns = ["barcode", "dna_1", "HUES64_rep1", "HUES64_rep2", "HUES64_rep3"]
mESC_data.columns = ["barcode", "dna_1", "mESC_rep1", "mESC_rep2", "mESC_rep3"]

In [15]:
all_counts = HUES64_data.merge(mESC_data, on=["barcode", "dna_1"])
all_counts.head()

,barcode,dna_1,HUES64_rep1,HUES64_rep2,HUES64_rep3,mESC_rep1,mESC_rep2,mESC_rep3
0,GTTCGACTATG,246,226.0,659.0,34.0,85.0,54.0,4.0
1,ATAACGTGTAA,120,146.0,27.0,4.0,NaN,180.0,1.0
2,TGAGCGGGTTC,1368,1395.0,1140.0,1076.0,379.0,766.0,606.0
3,AAACAACGTCC,32,45.0,1.0,122.0,2.0,22.0,89.0
4,CCTTACGTCAC,1184,3448.0,1324.0,1118.0,400.0,508.0,312.0

In [16]:
df = all_counts.merge(index[["barcode", "element", "tile_type", "tile_id"]], on="barcode")
df["barc_id"] = df.apply(get_barc_id, axis=1).astype(int)
df.head()

,barcode,dna_1,HUES64_rep1,HUES64_rep2,HUES64_rep3,mESC_rep1,mESC_rep2,mESC_rep3,element,tile_type,tile_id,barc_id
0,GTTCGACTATG,246,226.0,659.0,34.0,85.0,54.0,4.0,CCCCGGACGGGGATGGTCAGCGGCTGCGGCCGTCTGGCACGCGAAC...,WILDTYPE,10590.1.0.0.9,9
1,ATAACGTGTAA,120,146.0,27.0,4.0,NaN,180.0,1.0,GGAGGCTGGTGGGGGCCAGATGTGCTAAAGAGATCCAGATGTGAGA...,WILDTYPE_SINGLE_DELETION,5.5.0.76.5,5
2,TGAGCGGGTTC,1368,1395.0,1140.0,1076.0,379.0,766.0,606.0,TCTGGGGCGGCATCAGTTTACAAGTTTGTCTTAAGATGCCGTGCGG...,RANDOM,596.3,3
3,AAACAACGTCC,32,45.0,1.0,122.0,2.0,22.0,89.0,GGGGCGCGGCGGATTTACGATCCAGTTCACCCCGGCAGGAAACGTT...,WILDTYPE,8091.1.0.0.3,3
4,CCTTACGTCAC,1184,3448.0,1324.0,1118.0,400.0,508.0,312.0,TCCTTTACGTACACCCACGCTTTATAGTTTACAAAGCGATTTCAAC...,FLIPPED_SINGLE_DELETION,2.21.1.72.1,1

## 3. create separate dfs for dna & rna counts

In [17]:
dna_counts = df[["element", "barcode", "tile_type", "barc_id", "dna_1"]]
rna_counts = df[["element", "barcode", "tile_type", "barc_id", "HUES64_rep1", "HUES64_rep2", "HUES64_rep3",
                 "mESC_rep1", "mESC_rep2", "mESC_rep3"]]
rna_counts.head()

,element,barcode,tile_type,barc_id,HUES64_rep1,HUES64_rep2,HUES64_rep3,mESC_rep1,mESC_rep2,mESC_rep3
0,CCCCGGACGGGGATGGTCAGCGGCTGCGGCCGTCTGGCACGCGAAC...,GTTCGACTATG,WILDTYPE,9,226.0,659.0,34.0,85.0,54.0,4.0
1,GGAGGCTGGTGGGGGCCAGATGTGCTAAAGAGATCCAGATGTGAGA...,ATAACGTGTAA,WILDTYPE_SINGLE_DELETION,5,146.0,27.0,4.0,NaN,180.0,1.0
2,TCTGGGGCGGCATCAGTTTACAAGTTTGTCTTAAGATGCCGTGCGG...,TGAGCGGGTTC,RANDOM,3,1395.0,1140.0,1076.0,379.0,766.0,606.0
3,GGGGCGCGGCGGATTTACGATCCAGTTCACCCCGGCAGGAAACGTT...,AAACAACGTCC,WILDTYPE,3,45.0,1.0,122.0,2.0,22.0,89.0
4,TCCTTTACGTACACCCACGCTTTATAGTTTACAAAGCGATTTCAAC...,CCTTACGTCAC,FLIPPED_SINGLE_DELETION,1,3448.0,1324.0,1118.0,400.0,508.0,312.0

In [18]:
dna_counts = dna_counts.sort_values(by=["element", "barc_id"])
rna_counts = rna_counts.sort_values(by=["element", "barc_id"])

## 4. sum up all dna & rna counts, across all elements, for library depth correction

In [19]:
dna_counts_elem = dna_counts.groupby(["element", "tile_type"])["dna_1"].agg("sum").reset_index()
dna_counts_elem = dna_counts_elem[["element", "dna_1"]]
dna_counts_elem.set_index("element", inplace=True)
dna_counts_elem.head()

                                                    dna_1
element
AAAAAAAAAAAAAAAAACCCTGCAGAGAGCCTGCAAAGTCACTGCCG...   6356
AAAAAAAAAAAAAAAGAAAAGAAAAGAAAAAAAAGAAAGGATTGAGG...    992
AAAAAAAAAAAAGAGGAGAAATAGATTGTTACCTTATATTATTTAAA...   1052
AAAAAAAAAAAAGTGGGGGTGGATCGGGCGTGCCGGTAGGGAACCCG...    282
AAAAAAAAAACCGGCAAAATGTCCTTTTCCTTGTTTTGAAAAGACTG...   4922

In [20]:
rna_counts_elem = rna_counts.groupby(["element", "tile_type"])["HUES64_rep1", "HUES64_rep2", "HUES64_rep3", "mESC_rep1", "mESC_rep2", "mESC_rep3"].agg("sum").reset_index()
rna_counts_elem = rna_counts_elem[["element", "HUES64_rep1", "HUES64_rep2", "HUES64_rep3", "mESC_rep1", "mESC_rep2", "mESC_rep3"]]
rna_counts_elem.set_index("element", inplace=True)
rna_counts_elem.head()

,HUES64_rep1,HUES64_rep2,HUES64_rep3,mESC_rep1,mESC_rep2,mESC_rep3
element,,,,,,
AAAAAAAAAAAAAAAAACCCTGCAGAGAGCCTGCAAAGTCACTGCCGGAAGTCCCTCCGCGGTGACGAGCACGGCGGAAGTGGGTTCAATGCAGCTCCCCGAAGAACTGTCTCACTCCCGCTCGCCTGACTTCTGGATGGGAGG,60691.0,40342.0,47231.0,16712.0,19819.0,20829.0
AAAAAAAAAAAAAAAGAAAAGAAAAGAAAAAAAAGAAAGGATTGAGGGGAAGTTTCAAAGGGTGTGCCGGGGACCGGGGAAGAGTCTCATTCTCATGAGTCAGCGGATCCGGCCCAGTGTGACTTCACTGCTTCCCCAGAAGAG,1125.0,2052.0,1675.0,469.0,588.0,928.0
AAAAAAAAAAAAGAGGAGAAATAGATTGTTACCTTATATTATTTAAACTTTCAAATGTGCTAGGGTTCCTGGAATTTGGAGAGGGAACCGAAAGGGTTTTATGGTTCTTGGGAGACAGCAGAGCACAAAGAGCCAGGGGGTGGA,956.0,699.0,914.0,348.0,781.0,445.0
AAAAAAAAAAAAGTGGGGGTGGATCGGGCGTGCCGGTAGGGAACCCGCGGCAGGGGGCGGCTCTGCTCCCCAGCAGGGCGTGGGCCGGGCGAGGTCCTCCGCGCAGCGCACGGTGCCAACAATAGGCTGTTGTGGAAGGAGGCA,417.0,301.0,343.0,356.0,110.0,134.0
AAAAAAAAAACCGGCAAAATGTCCTTTTCCTTGTTTTGAAAAGACTGGAAAATTCATCCCTGCAACCTTCCCTCCCATTTCACTGGTCAGAGTAAAAATTGGAAGTAGGAAAATTAGTACCACCACATCCTTTGAGTCAGAGAC,5689.0,3059.0,4202.0,1132.0,2171.0,1430.0

## 5. create annotation file for library depth correction

In [21]:
# col annotations for depth estimation
dna_depth_anns = {"dna_1": {"sample": "1", "condition": "dna"}}
rna_depth_anns = {"HUES64_rep1": {"sample": "1", "condition": "HUES64"}, 
                  "HUES64_rep2": {"sample": "2", "condition": "HUES64"},
                  "HUES64_rep3": {"sample": "3", "condition": "HUES64"},
                  "mESC_rep1": {"sample": "1", "condition": "mESC"},
                  "mESC_rep2": {"sample": "2", "condition": "mESC"},
                  "mESC_rep3": {"sample": "3", "condition": "mESC"}}

dna_depth_anns = pd.DataFrame.from_dict(dna_depth_anns).T
rna_depth_anns = pd.DataFrame.from_dict(rna_depth_anns).T
rna_depth_anns

            sample condition
HUES64_rep1      1    HUES64
HUES64_rep2      2    HUES64
HUES64_rep3      3    HUES64
mESC_rep1        1      mESC
mESC_rep2        2      mESC
mESC_rep3        3      mESC

## 6. write library depth correction files

In [22]:
# write depth estimation files
mpranalyze_dir = "%s/mpranalyze_files" % counts_dir

dna_depth_anns.to_csv("%s/dna_col_ann.for_depth_estimation.mpranalyze.txt" % mpranalyze_dir, sep="\t")
rna_depth_anns.to_csv("%s/rna_col_ann.for_depth_estimation.mpranalyze.txt" % mpranalyze_dir, sep="\t")

dna_counts_elem.to_csv("%s/dna_counts.for_depth_estimation.mpranalyze.txt" % mpranalyze_dir, sep="\t", index=True)
rna_counts_elem.to_csv("%s/rna_counts.for_depth_estimation.mpranalyze.txt" % mpranalyze_dir, sep="\t", index=True)

## 7. to run MPRAnalyze, get data in pivot format (opposite of tidy format)

In [23]:
# first filter to the TSSs we care about quantifying
tss_elems = list(index[index["name"].str.contains("EVO_TSS")]["element"].unique())
ctrl_elems = list(index[index["tile_type"] == "RANDOM"]["element"].unique())
pos_ctrl_elems = list(index[index["tile_type"] == "CONTROL"]["element"].unique())
print(len(tss_elems))
print(len(ctrl_elems))
print(len(pos_ctrl_elems))
good_elems = tss_elems + ctrl_elems
len(good_elems)

13533
1619
4

15152

In [24]:
dna_counts_filt = dna_counts[dna_counts["element"].isin(good_elems)]
rna_counts_filt = rna_counts[rna_counts["element"].isin(good_elems)]
len(rna_counts_filt)

154949

In [25]:
dna_counts_pos_ctrls = dna_counts[dna_counts["element"].isin(pos_ctrl_elems)]
rna_counts_pos_ctrls = rna_counts[rna_counts["element"].isin(pos_ctrl_elems)]
len(rna_counts_pos_ctrls)

237

In [26]:
dna_counts_filt = dna_counts_filt.melt(id_vars=["element", "barcode", "tile_type", "barc_id"])
rna_counts_filt = rna_counts_filt.melt(id_vars=["element", "barcode", "tile_type", "barc_id"])
rna_counts_filt.head()

,element,barcode,tile_type,barc_id,variable,value
0,AAAAAAAAAAAAAAAAACCCTGCAGAGAGCCTGCAAAGTCACTGCC...,CCGACTTAGAC,WILDTYPE,1,HUES64_rep1,6863.0
1,AAAAAAAAAAAAAAAAACCCTGCAGAGAGCCTGCAAAGTCACTGCC...,CACATCGGTGG,WILDTYPE,2,HUES64_rep1,9308.0
2,AAAAAAAAAAAAAAAAACCCTGCAGAGAGCCTGCAAAGTCACTGCC...,AACATAGGTGG,WILDTYPE,3,HUES64_rep1,4931.0
3,AAAAAAAAAAAAAAAAACCCTGCAGAGAGCCTGCAAAGTCACTGCC...,GTATCGGTTCC,WILDTYPE,4,HUES64_rep1,519.0
4,AAAAAAAAAAAAAAAAACCCTGCAGAGAGCCTGCAAAGTCACTGCC...,CTCGATACATG,WILDTYPE,6,HUES64_rep1,2339.0

In [27]:
dna_counts_pos_ctrls = dna_counts_pos_ctrls.melt(id_vars=["element", "barcode", "tile_type", "barc_id"])
rna_counts_pos_ctrls = rna_counts_pos_ctrls.melt(id_vars=["element", "barcode", "tile_type", "barc_id"])
rna_counts_pos_ctrls.head()

,element,barcode,tile_type,barc_id,variable,value
0,AGTTCCGCTTACATAACTTACGGTAAATGGCCCGCCTGGCTGACCG...,CAATAGTTCCG,CONTROL,1,HUES64_rep1,12632.0
1,AGTTCCGCTTACATAACTTACGGTAAATGGCCCGCCTGGCTGACCG...,AACGTTCGCTA,CONTROL,2,HUES64_rep1,10295.0
2,AGTTCCGCTTACATAACTTACGGTAAATGGCCCGCCTGGCTGACCG...,AACTCACACGA,CONTROL,3,HUES64_rep1,16268.0
3,AGTTCCGCTTACATAACTTACGGTAAATGGCCCGCCTGGCTGACCG...,TTGCGATACCG,CONTROL,4,HUES64_rep1,5500.0
4,AGTTCCGCTTACATAACTTACGGTAAATGGCCCGCCTGGCTGACCG...,CATTCATTGGG,CONTROL,5,HUES64_rep1,33028.0

In [28]:
dna_counts_filt["samp_id"] = "samp:" + dna_counts_filt["variable"] + "__barc:" + dna_counts_filt["barc_id"].astype(str)
rna_counts_filt["samp_id"] = "samp:" + rna_counts_filt["variable"] + "__barc:" + rna_counts_filt["barc_id"].astype(str)
rna_counts_filt.sample(5)

,element,barcode,tile_type,barc_id,variable,value,samp_id
25118,AGGGTCTCACTGTGTTGGCCAGGTTGATTTTGAGCTCCCGGCCTCG...,AACGAACGATG,WILDTYPE,4,HUES64_rep1,255.0,samp:HUES64_rep1__barc:4
486848,AGCTGCAGTGAGCTCTGGGAAGCGTTTGCTTGAGGATGTTCCCTTT...,CGCATCGGTGG,WILDTYPE,10,mESC_rep1,651.0,samp:mESC_rep1__barc:10
212555,CCTGGGCCCCACTCCCCATCACCCTCCCGCCTCCCAGACCCCCGGC...,ACGAGATAGTC,WILDTYPE,11,HUES64_rep2,2709.0,samp:HUES64_rep2__barc:11
439094,TCCCAAAGGAAGGCCTCTTGTTTACTCCTAGATGACTCAGCCTTAG...,TATGTAACGGC,WILDTYPE,2,HUES64_rep3,812.0,samp:HUES64_rep3__barc:2
425552,GTCATGCAAGCCATTGTAGCACAGAGGGAAGAGGCTTTCCGACCAG...,TTCCGAATTGG,WILDTYPE,3,HUES64_rep3,158.0,samp:HUES64_rep3__barc:3

In [29]:
dna_counts_pos_ctrls["samp_id"] = "samp:" + dna_counts_pos_ctrls["variable"] + "__barc:" + dna_counts_pos_ctrls["barc_id"].astype(str)
rna_counts_pos_ctrls["samp_id"] = "samp:" + rna_counts_pos_ctrls["variable"] + "__barc:" + rna_counts_pos_ctrls["barc_id"].astype(str)
rna_counts_pos_ctrls.sample(5)

,element,barcode,tile_type,barc_id,variable,value,samp_id
1251,CCATTGACGTCAATGGGTGGAGTATTTACGGTAAACTGCCCACTTG...,GACGACTGCGA,CONTROL,9,mESC_rep3,29.0,samp:mESC_rep3__barc:9
383,CTGGCATTATGCCCAGTACATGACCTTATGGGACTTTCCTACTTGG...,ATCGGCGGTGA,CONTROL,30,HUES64_rep2,2589.0,samp:HUES64_rep2__barc:30
823,CCATTGACGTCAATGGGTGGAGTATTTACGGTAAACTGCCCACTTG...,CTGTATCGGAT,CONTROL,55,mESC_rep1,932.0,samp:mESC_rep1__barc:55
808,CCATTGACGTCAATGGGTGGAGTATTTACGGTAAACTGCCCACTTG...,CGGTCAAGTCC,CONTROL,40,mESC_rep1,136.0,samp:mESC_rep1__barc:40
1155,TGGATAGCGGTTTGACTCACGGGGATTTCCAAGTCTCCACCCCATT...,AATACGTGGAG,CONTROL,31,mESC_rep2,290.0,samp:mESC_rep2__barc:31

In [30]:
dna_counts_piv = dna_counts_filt.pivot(index="element", columns="samp_id", values="value").reset_index()
rna_counts_piv = rna_counts_filt.pivot(index="element", columns="samp_id", values="value").reset_index()
rna_counts_piv.head()

samp_id,element,samp:HUES64_rep1__barc:1,samp:HUES64_rep1__barc:10,samp:HUES64_rep1__barc:11,samp:HUES64_rep1__barc:12,samp:HUES64_rep1__barc:13,samp:HUES64_rep1__barc:2,samp:HUES64_rep1__barc:3,samp:HUES64_rep1__barc:4,samp:HUES64_rep1__barc:5,...,samp:mESC_rep3__barc:12,samp:mESC_rep3__barc:13,samp:mESC_rep3__barc:2,samp:mESC_rep3__barc:3,samp:mESC_rep3__barc:4,samp:mESC_rep3__barc:5,samp:mESC_rep3__barc:6,samp:mESC_rep3__barc:7,samp:mESC_rep3__barc:8,samp:mESC_rep3__barc:9
0,AAAAAAAAAAAAAAAAACCCTGCAGAGAGCCTGCAAAGTCACTGCC...,6863.0,2060.0,40.0,22028.0,7696.0,9308.0,4931.0,519.0,NaN,...,7989.0,2737.0,2496.0,1980.0,232.0,NaN,530.0,1062.0,74.0,1393.0
1,AAAAAAAAAAAAAAAGAAAAGAAAAGAAAAAAAAGAAAGGATTGAG...,9.0,1.0,2.0,NaN,3.0,29.0,151.0,136.0,229.0,...,NaN,4.0,133.0,1.0,31.0,334.0,NaN,NaN,NaN,422.0
2,AAAAAAAAAAAAGAGGAGAAATAGATTGTTACCTTATATTATTTAA...,28.0,264.0,119.0,1.0,7.0,272.0,20.0,15.0,NaN,...,NaN,NaN,117.0,3.0,NaN,3.0,NaN,100.0,NaN,NaN
3,AAAAAAAAAAAAGTGGGGGTGGATCGGGCGTGCCGGTAGGGAACCC...,NaN,28.0,NaN,NaN,47.0,NaN,83.0,NaN,89.0,...,86.0,25.0,NaN,NaN,NaN,NaN,23.0,NaN,NaN,NaN
4,AAAAAAAAAACCGGCAAAATGTCCTTTTCCTTGTTTTGAAAAGACT...,175.0,16.0,789.0,755.0,661.0,415.0,50.0,7.0,600.0,...,266.0,NaN,30.0,10.0,100.0,291.0,222.0,57.0,128.0,68.0

In [31]:
dna_counts_pos_ctrl_piv = dna_counts_pos_ctrls.pivot(index="element", columns="samp_id", values="value").reset_index()
rna_counts_pos_ctrl_piv = rna_counts_pos_ctrls.pivot(index="element", columns="samp_id", values="value").reset_index()
rna_counts_pos_ctrl_piv.head()

samp_id,element,samp:HUES64_rep1__barc:1,samp:HUES64_rep1__barc:10,samp:HUES64_rep1__barc:11,samp:HUES64_rep1__barc:12,samp:HUES64_rep1__barc:13,samp:HUES64_rep1__barc:14,samp:HUES64_rep1__barc:15,samp:HUES64_rep1__barc:16,samp:HUES64_rep1__barc:17,...,samp:mESC_rep3__barc:55,samp:mESC_rep3__barc:56,samp:mESC_rep3__barc:57,samp:mESC_rep3__barc:58,samp:mESC_rep3__barc:59,samp:mESC_rep3__barc:6,samp:mESC_rep3__barc:60,samp:mESC_rep3__barc:7,samp:mESC_rep3__barc:8,samp:mESC_rep3__barc:9
0,AGTTCCGCTTACATAACTTACGGTAAATGGCCCGCCTGGCTGACCG...,12632.0,2311.0,7320.0,8299.0,6868.0,8711.0,28865.0,3135.0,10.0,...,1029.0,2134.0,106.0,95.0,172.0,426.0,2540.0,2488.0,8741.0,7527.0
1,CCATTGACGTCAATGGGTGGAGTATTTACGGTAAACTGCCCACTTG...,580.0,172.0,220.0,189.0,1749.0,397.0,964.0,221.0,3445.0,...,955.0,375.0,134.0,137.0,165.0,119.0,167.0,983.0,91.0,29.0
2,CTGGCATTATGCCCAGTACATGACCTTATGGGACTTTCCTACTTGG...,2027.0,977.0,NaN,679.0,81.0,1825.0,2663.0,1453.0,3526.0,...,968.0,99.0,67.0,964.0,523.0,962.0,115.0,30.0,550.0,97.0
3,TGGATAGCGGTTTGACTCACGGGGATTTCCAAGTCTCCACCCCATT...,1490.0,841.0,3362.0,4523.0,6177.0,1718.0,144.0,193.0,2899.0,...,816.0,1749.0,347.0,322.0,390.0,2295.0,1717.0,2299.0,2113.0,693.0

In [32]:
dna_counts_piv.fillna(0, inplace=True)
rna_counts_piv.fillna(0, inplace=True)
rna_counts_piv.head()

samp_id,element,samp:HUES64_rep1__barc:1,samp:HUES64_rep1__barc:10,samp:HUES64_rep1__barc:11,samp:HUES64_rep1__barc:12,samp:HUES64_rep1__barc:13,samp:HUES64_rep1__barc:2,samp:HUES64_rep1__barc:3,samp:HUES64_rep1__barc:4,samp:HUES64_rep1__barc:5,...,samp:mESC_rep3__barc:12,samp:mESC_rep3__barc:13,samp:mESC_rep3__barc:2,samp:mESC_rep3__barc:3,samp:mESC_rep3__barc:4,samp:mESC_rep3__barc:5,samp:mESC_rep3__barc:6,samp:mESC_rep3__barc:7,samp:mESC_rep3__barc:8,samp:mESC_rep3__barc:9
0,AAAAAAAAAAAAAAAAACCCTGCAGAGAGCCTGCAAAGTCACTGCC...,6863.0,2060.0,40.0,22028.0,7696.0,9308.0,4931.0,519.0,0.0,...,7989.0,2737.0,2496.0,1980.0,232.0,0.0,530.0,1062.0,74.0,1393.0
1,AAAAAAAAAAAAAAAGAAAAGAAAAGAAAAAAAAGAAAGGATTGAG...,9.0,1.0,2.0,0.0,3.0,29.0,151.0,136.0,229.0,...,0.0,4.0,133.0,1.0,31.0,334.0,0.0,0.0,0.0,422.0
2,AAAAAAAAAAAAGAGGAGAAATAGATTGTTACCTTATATTATTTAA...,28.0,264.0,119.0,1.0,7.0,272.0,20.0,15.0,0.0,...,0.0,0.0,117.0,3.0,0.0,3.0,0.0,100.0,0.0,0.0
3,AAAAAAAAAAAAGTGGGGGTGGATCGGGCGTGCCGGTAGGGAACCC...,0.0,28.0,0.0,0.0,47.0,0.0,83.0,0.0,89.0,...,86.0,25.0,0.0,0.0,0.0,0.0,23.0,0.0,0.0,0.0
4,AAAAAAAAAACCGGCAAAATGTCCTTTTCCTTGTTTTGAAAAGACT...,175.0,16.0,789.0,755.0,661.0,415.0,50.0,7.0,600.0,...,266.0,0.0,30.0,10.0,100.0,291.0,222.0,57.0,128.0,68.0

In [33]:
dna_counts_pos_ctrl_piv.fillna(0, inplace=True)
rna_counts_pos_ctrl_piv.fillna(0, inplace=True)

## 8. filter: remove any elements that don't have >=50% of barcodes with DNA counts >= 10

In [34]:
dna_counts_piv["dna_status"] = dna_counts_piv.apply(dna_status, barc_thresh=10, perc_barc_thresh=0.5, 
                                                    ctrl_elems=ctrl_elems, axis=1)
dna_counts_pos_ctrl_piv["dna_status"] = dna_counts_pos_ctrl_piv.apply(dna_status, barc_thresh=10, 
                                                                      perc_barc_thresh=0.5, 
                                                                      ctrl_elems=ctrl_elems, axis=1)
dna_counts_piv.dna_status.value_counts()

good    13479
bad      1549
Name: dna_status, dtype: int64

In [35]:
good_dna_elems = list(dna_counts_piv[dna_counts_piv["dna_status"] == "good"]["element"])
good_pos_ctrl_dna_elems = list(dna_counts_pos_ctrl_piv[dna_counts_pos_ctrl_piv["dna_status"] == "good"]["element"])

In [36]:
dna_counts_piv_filt = dna_counts_piv[dna_counts_piv["element"].isin(good_dna_elems)]
dna_counts_piv_filt.drop("dna_status", axis=1, inplace=True)
rna_counts_piv_filt = rna_counts_piv[rna_counts_piv["element"].isin(good_dna_elems)]
print(len(dna_counts_piv_filt))
print(len(rna_counts_piv_filt))

13479
13479

In [37]:
dna_counts_pos_ctrl_piv_filt = dna_counts_pos_ctrl_piv[dna_counts_pos_ctrl_piv["element"].isin(good_pos_ctrl_dna_elems)]
dna_counts_pos_ctrl_piv_filt.drop("dna_status", axis=1, inplace=True)
rna_counts_pos_ctrl_piv_filt = rna_counts_pos_ctrl_piv[rna_counts_pos_ctrl_piv["element"].isin(good_pos_ctrl_dna_elems)]
print(len(dna_counts_pos_ctrl_piv_filt))
print(len(rna_counts_pos_ctrl_piv_filt))

4
4

## 9. add new negative controls -- which are sampled from positive controls -- for MPRAnalyze comparison b/w cell types

In [38]:
barc_ids = list(range(1, 61))
n_samps = 100
elems = list(dna_counts_pos_ctrl_piv_filt["element"])
elems

['AGTTCCGCTTACATAACTTACGGTAAATGGCCCGCCTGGCTGACCGCCCAACGACCCCCGCCCATTGACGTCAATAATGACGTATGTTCCCATAGTAACGCCAATAGGGACTTTCCATTGACGTCAATGGGTGGAGTATTTACG',
 'CCATTGACGTCAATGGGTGGAGTATTTACGGTAAACTGCCCACTTGGCAGTACATCAAGTGTATCATATGCCAAGTACGCCCCCTATTGACGTCAATGACGGTAAATGGCCCGCCTGGCATTATGCCCAGTACATGACCTTATG',
 'CTGGCATTATGCCCAGTACATGACCTTATGGGACTTTCCTACTTGGCAGTACATCTACGTATTAGTCATCGCTATTACCATGGTGATGCGGTTTTGGCAGTACATCAATGGGCGTGGATAGCGGTTTGACTCACGGGGATTTCC',
 'TGGATAGCGGTTTGACTCACGGGGATTTCCAAGTCTCCACCCCATTGACGTCAATGGGAGTTTGTTTTGGCACCAAAATCAACGGGACTTTCCAAAATGTCGTAACAACTCCGCCCCATTGACGCAAATGGGCGGTAGGCGTGT']

In [39]:
rep_map_cols = list(set([x.split("__")[0] for x in list(rna_counts_pos_ctrl_piv_filt.columns) if x != "element"]))
rep_map_cols

['samp:mESC_rep2',
 'samp:mESC_rep3',
 'samp:HUES64_rep2',
 'samp:HUES64_rep3',
 'samp:HUES64_rep1',
 'samp:mESC_rep1']

In [40]:
neg_ctrl_dna_counts = pd.DataFrame()
neg_ctrl_rna_counts = pd.DataFrame()

for i, elem in enumerate(elems):
    elem_dna_data = dna_counts_pos_ctrl_piv_filt[dna_counts_pos_ctrl_piv_filt["element"] == elem]
    elem_rna_data = rna_counts_pos_ctrl_piv_filt[rna_counts_pos_ctrl_piv_filt["element"] == elem]
    
    for j in range(n_samps):
        barcs_sampled = np.random.choice(barc_ids, size=13)
        
        dna_cols_sampled = ["element"]
        dna_cols_sampled.extend(["samp:dna_1__barc:%s" % x for x in barcs_sampled])
        new_dna_cols = ["element"]
        new_dna_cols.extend(["samp:dna_1__barc:%s" % x for x in range(1, 14)])
        
        rna_cols_sampled = ["element"]
        new_rna_cols = ["element"]
        for rep in rep_map_cols:
            rna_cols_sampled.extend(["%s__barc:%s" % (rep, x) for x in barcs_sampled])
            new_rna_cols.extend(["%s__barc:%s" % (rep, x) for x in range(1, 14)])
        
        # subsample dataframe w/ columns we just defined
        elem_dna_data_sampled = elem_dna_data[dna_cols_sampled]
        elem_rna_data_sampled = elem_rna_data[rna_cols_sampled]   
        
        # rename columns
        elem_dna_data_sampled.columns = new_dna_cols
        elem_rna_data_sampled.columns = new_rna_cols
                
        # rename element with element + samp #
        elem_dna_data_sampled["element"] = elem + "__samp%s" % (j+1)
        elem_rna_data_sampled["element"] = elem + "__samp%s" % (j+1)
        
        # for error checking -- print out the barcode that should be barcode 1"
#         print("error checking for %s__samp%s: %s" % (elem, j+1, barcs_sampled[0]))

        
        # append
        neg_ctrl_dna_counts = neg_ctrl_dna_counts.append(elem_dna_data_sampled)
        neg_ctrl_rna_counts = neg_ctrl_rna_counts.append(elem_rna_data_sampled)

## 10. get negative control IDs [negative controls only for quantification]

In [41]:
dna_counts_piv_filt = dna_counts_piv_filt.append(neg_ctrl_dna_counts)
rna_counts_piv_filt = rna_counts_piv_filt.append(neg_ctrl_rna_counts)
print(len(dna_counts_piv_filt))
print(len(rna_counts_piv_filt))

13879
13879

In [42]:
ctrls = rna_counts_piv_filt[["element"]].merge(index_elem[["element", "tile_type"]], on="element", how="left")
print(len(ctrls))
ctrls.head()

13879

                                             element tile_type
0  AAAAAAAAAAAAAAAAACCCTGCAGAGAGCCTGCAAAGTCACTGCC...  WILDTYPE
1  AAAAAAAAAAAAAAAGAAAAGAAAAGAAAAAAAAGAAAGGATTGAG...  WILDTYPE
2  AAAAAAAAAAAAGAGGAGAAATAGATTGTTACCTTATATTATTTAA...  WILDTYPE
3  AAAAAAAAAACCGGCAAAATGTCCTTTTCCTTGTTTTGAAAAGACT...  WILDTYPE
4  AAAAAAAAAGGCCACGCTCAAAACCCCAGACTAGTTTTCCTCACCA...  WILDTYPE

In [43]:
ctrls["ctrl_status"] = ctrls.apply(get_ctrl_status, axis=1)
ctrls.sample(5)

,element,tile_type,ctrl_status
10050,GTCGGGGGTGGGAGTTGATAAAGTGGAGTTAAATCCCAGCCCGCTG...,WILDTYPE,False
11122,TCATAGGCCCCGAGCCGAAGCCCAGCCGCTTATTGGCCGCCCGAGC...,WILDTYPE,False
12814,TTCACCGCCACGGCCGCCGCCGCCTAGAGTAGCACTCGTCGACCCG...,WILDTYPE,False
4048,CCAGCCCTGCCCTGCCCTGCCCAGGCTGTGGGCGAGGGTGTTCCCG...,WILDTYPE,False
642,AAGTCCGGAAGGCGTGGCTGGGGTGGGGCGAGGATCGGAGGCGGGG...,WILDTYPE,False

## 11. create overall annotation file

In [44]:
dna_cols = [x for x in dna_counts_piv_filt.columns if "samp:" in x]
rna_cols = [x for x in rna_counts_piv_filt.columns if "samp:" in x]

In [45]:
dna_col_ann = {}
rna_col_ann = {}
for cols, ann in zip([dna_cols, rna_cols], [dna_col_ann, rna_col_ann]):
    for col in cols:
        samp = col.split("__")[0].split("_")[-1]
        cond = col.split(":")[1].split("_")[0]
        barc = col.split(":")[-1]
        ann[col] = {"sample": samp, "condition": cond, "barcode": barc}

dna_col_ann = pd.DataFrame.from_dict(dna_col_ann, orient="index")
rna_col_ann = pd.DataFrame.from_dict(rna_col_ann, orient="index")
rna_col_ann.sample(5)

                          sample condition barcode
samp:mESC_rep1__barc:4      rep1      mESC       4
samp:HUES64_rep1__barc:12   rep1    HUES64      12
samp:HUES64_rep2__barc:8    rep2    HUES64       8
samp:mESC_rep1__barc:1      rep1      mESC       1
samp:mESC_rep2__barc:10     rep2      mESC      10

## 12. write final files [for quantification analysis]

In [46]:
dna_counts_piv_filt.set_index("element", inplace=True)
rna_counts_piv_filt.set_index("element", inplace=True)

In [47]:
# write final files
dna_col_ann.to_csv("%s/dna_col_ann.mpranalyze.for_quantification.txt" % mpranalyze_dir, sep="\t")
rna_col_ann.to_csv("%s/rna_col_ann.mpranalyze.for_quantification.txt" % mpranalyze_dir, sep="\t")

ctrls = ctrls[["element", "ctrl_status"]]
ctrls.to_csv("%s/ctrl_status.mpranalyze.for_quantification.txt" % mpranalyze_dir, sep="\t", index=False)

dna_counts_piv_filt.to_csv("%s/dna_counts.mpranalyze.for_quantification.txt" % mpranalyze_dir, sep="\t", index=True)
rna_counts_piv_filt.to_csv("%s/rna_counts.mpranalyze.for_quantification.txt" % mpranalyze_dir, sep="\t", index=True)